<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find user</title>
</head>
<body>
    <h1><%= title %></h1>
    <form action="/search" method="GET">
        <label for="name">Find by name: </label><input name="name", id="name">
        <labe for="email"> Find by email: </labe><input name="email" id="email">
        <button type="submit" id="search-btn">search!</button>
    </form>
    <button><a href="/">Return to main page</a></button>

    <div>
        Users found:
        <% console.log(user); %>
        <% if (user){ %>
            ID: <%= user.id %>, Name: <%= user.firstName %> <%= user.lastName %>,Age: <%= user.age %> 
            Email: <%= user.email %> Bio: <%= user.bio %>
            <a href="/<%= user.id %>/update">Update</a>
            <form action="/<%= user.id %>/delete" method="POST" style="display:inline;">
                <button type="submit"
                onclick="return confirm('Are you sure you want to delete this user?');">
                Delete
                </button>
            </form>
        <% }else{ %>
            <span>no users matching</span>
        <% } %>

    </div>
    
</body>
</html>